body{
  margin: 0;
  font-size: 20px;
}

.navbar
{
  display: flex;
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.left-nav
{
  flex: none;
  width: 30%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.home-tab
{
  text-align: start;
}

.right-nav
{
  flex: auto;
  
  margin-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item
{
  flex: none;
  padding: 5px;
  margin-left: 20px;
}

.nav-item:hover,
.side-bar-item:hover,
button:hover
{
  color: azure;
  background-color: gray;
  transition: 0.3s;
  border-radius: 10%;
  cursor: pointer;
}

.burger-icon
{
  /*background-image: url("./nav_icon.png");
  background-position: center;
  background-size: contain; */
  display: none;
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.side-bar
{
  position: fixed;
  top: 0;
  right: -50vw; /*put it outside the viewport*/
  height: 100vh;
  width: 40vw;
  transition: 0.3s ease-in-out;

  background-color: rgba(255, 255, 255, 0.526);
  backdrop-filter: blur(10px);
  z-index: 101;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  /* offset-x | offset-y | blur-radius | color */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar.active
{
  right: 0;
  transition: 0.3s ease-in-out;
}

.close-icon
{
  align-self: end;
  max-height: 40px;
  margin: 5px 15px 0 0;
}

.side-bar-item
{
  flex: none;
  margin: 5px 0;
  padding: 5px;
}

button
{
  background-color: inherit;
  border: none;
  padding: 0;
}

img
{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav-flow /*the div to occupy the navbar space*/
{
  height: 3rem;
}

.welcome-bar
{
  height: 250px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.welcome-words
{
  flex: auto;
  text-align: center;
  font-size: 40px;
}

.main-content
{
  margin-bottom: 25vh;
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;

  justify-items: center;
}

.promotions
{
  /*flex: none;*/
  width: 100%;
  max-width: 1200px;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.promotion
{
  background-color: rgb(196, 255, 209);
  display: flex;
  align-items: center;
}


.promo-pic
{
  flex: none;
  width: 80px;
  height: 50px;
  /*background-image: url("./IMG_1262.jpg");*/
  background-size: cover; /* This will make sure the image covers the entire container without stretching */
  background-position: center; /* Center the background image */
}

.promo-title
{
  flex: auto;
  padding-left: 5px;
}

.titles
{
  /*flex: none;*/
  width: 100%;
  max-width: 1200px;
  /*margin-top: 20px;*/

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.title:nth-child(1),
.title:nth-child(6)
{
 grid-column: span 2; 
}

.title
{
  height: 200px;
  background-size: cover;
    /* This will make sure the image covers the entire container without stretching */
  background-position: center;
    /* Center the background image */
    
  position: relative; /* Make the container position context for absolute child */

  display: flex;
  justify-content: center;
  align-items: end;
}

.title-words
{
  flex: auto;
  height: 30px;

  background-color: bisque;
  opacity: 0.7;
  /*center the text and leave 5% padding in left and right*/  
  text-align: center;
  padding: 0 5%;
  /*hidden the overflow words*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.star-icon
{
  flex: none;
  width: 20px;
  height: 20px;
  
  background-image: url("./star.png");
  background-size: cover;
  background-position: center;

  /*make the div escape the flow*/
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0.6;
}

@media screen and (min-width: 600px) and (max-width: 1201px) {
  .promotions
  {
    width: 90%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .promotion:nth-child(3)
  {
    grid-column: span 2;
  }

  .titles
  {
    width: 90%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }

  .title:nth-child(1),
  .title:nth-child(6) 
  {
    grid-column: span 1;
  }

  .title:nth-child(9),
  .title:nth-child(10) 
  {
    grid-column: span 2;
  }
}

@media screen and (min-width:360px) and (max-width:600px) {
  .promotions {
      width: 90%;
  
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  
    .promotion:nth-child(3) {
      grid-column: span 1;
    }
  
    .titles {
      width: 90%;
  
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
    }

    .title:nth-child(1),
    .title:nth-child(6),
    .title:nth-child(9),
    .title:nth-child(10) {
      grid-column: span 1;
    }

    .nav-item
    {
      display: none;
    }

    .burger-icon
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}