<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Details</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css')}}">
</head>
<body>
  <nav class="nav-bar">失敗頁面</nav>
  <div class="log-in-container">
    <div class="log-in-title">{{message}}</div>
    <form class="log-in-form" id='return-home' onsubmit="homepage()">
      <div class="form-group">
        <input type="submit" value="返回首頁">
      </div>
    </form>
  </div>
  <script>
    function homepage(event) {
        let form = document.getElementById("return-home")
        form.action = "/"
        form.method = "get"
      }
  </script>
</body>
</html>